{% extends 'heroes/base.html' %}
{% block title %}Detail{% endblock %}
{% block body %}


<img src="{{ hero.hero_pic.url }}">
<h1>{{ hero.name }}</h1>
<h2>{{ hero.type }}</h2>
<h2>{{ hero.class_of_hero }}</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
    {% csrf_token %}
    {% for guide in hero.guide_set.all %}
            {{ guide.guide_name }}
            {% if guide.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png"/>
            {% endif %}
        <br>
    {% endfor %}


{% endblock %}