{% extends 'heroes/base.html' %}
{% block title %}Heroes List{% endblock %}

{% block body %}
    <div class="heroes-container container-fluid">
        <!--Heroes-->
        <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Heroes</h3>
            </div>
            {% if all_heroes %}
                {% for hero in all_heroes %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{% url 'hero:detail' hero.id %}">
                                <img src="{{ hero.hero_pic.url }}" class="img-responsive">
                            </a>
                            <div class="caption wrapper">
                                <h2>{{ hero.name }}</h2>

                                <!--View Details-->
                                <a href="{% url 'hero:detail' hero.id %}" class="btn btn-primary btn-sm"
                                   role="button">View</a>
                                <!--Delete Hero-->
                                <form action="{% url 'hero:hero-delete' hero.id %}" method="post"
                                      style="display: inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="hero_id" value="{{ hero.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                                <!--Favorite Hero-->
                                <a href="#"
                                   class="btn btn-default btn-sm btn-favorite"
                                   role="button">
                                    <span class="glyphicon glyphicon-star"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'hero:hero-add' %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Hero
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>


    </div>
{% endblock %}